@using WebAppMVC.Controllers;


@model IEnumerable<User>

@* @foreach(var user in Model)
{
	<p>@user.UserName</p>
} *@



<div>
	@using(Html.BeginForm(nameof(UsersController.Search), "users")) {
		@Html.TextBox("phrase")
		<input type="submit" class="btn" value="Search" />
	}


	<form asp-action="search" asp-antiforgery="false" >
		<input type="text" name="phrase"/>
		<input type="submit" class="btn" value="Search"/>
	</form>
</div>

<div>
	@Html.ActionLink("Add", "add")
</div>

<div>
	<table class="table">
		<thead>
			<tr>

				@await Html.PartialAsync("_UserHeader", new User())
			</tr>
		</thead>
		<tbody>
			@foreach(var user in Model)
			{
				<tr>
					@await Html.PartialAsync("_UserBody", user)
					<td>@Html.ActionLink("Edit", "edit", new {user.Id})</td>
					<td>@Html.ActionLink("Delete", "delete", new {user.Id})</td>
				</tr>
			}
		</tbody>
	</table>
</div>