@model User

<div class="row">
	<div class="col-md-4">

		<form asp-action="Login">
			<div class="form-group">
				@Html.LabelFor(x => x.UserName)
				<br>
				@Html.EditorFor(x => x.UserName)
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.Password)
				<br>
				@Html.PasswordFor(x => x.Password)
			</div>

			@Html.Hidden("returnUrl", Context.Request.Query["returnUrl"])

			<input type="submit" value="Login" class="btn" />

		</form>

	</div>

</div>